body {
  margin: 0;
  font-family: 'open sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image:linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(./Components/assets/bg1.jpg);
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
